DATABASE_URL="mysql://root:admin@localhost:3306/unphu"
NEXTAUTH_SECRET="3080BB51BA34B8534FB33F060AC9AB8E2155"

# Credenciales SMTP (puede ser Mailtrap, SendGrid, etc.)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass

# Dirección "From" — la que verá el destinatario
EMAIL_FROM="no-reply@example.com"

# URL base de tu app (para enlaces en email)
NEXTAUTH_URL=http://localhost:3000

# OAuth de Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

